header {
  background: #02918C;
  height: 62px;
}

.container {
  width: 1008px;
  margin: 0 auto 0 auto;
  padding: 15px 50px;
  font-family: arial;
}
.promo {
  width: 100%;
  height: 600px;
  background: url(../img/main-pic.jpg) no-repeat;
  background-size: cover;
}